body{
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	padding: 10px 100px;
	padding-bottom: 10px;
	box-sizing: border-box;
	transition: .3s;
	background: #FFF;
}

nav .logo {
	padding: 22px 20px;
	height: 80px;
	float: left;
	font-size: 24px;
	transition: .3s;
}

nav ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	line-height: 80px;
	color: #151515;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}

nav ul li a:focus{
	outline: none;
}

nav ul li a.active {
	background: #6D8BD3;
	color: #fff;
	
}

section.sec1Vancouver{
	width: 100%;
	height: 100vh;
	background: url(../pages/img/vancouver.jpg);
	background-size: cover;
	background-position: center;
}

section.sec1Whistler{
	width: 100%;
	height: 100vh;
	background: url(../pages/img/whistler.png);
	background-size: cover;
	background-position: center;
}

section.sec1Toronto{
	width: 100%;
	height: 100vh;
	background: url(../pages/img/cn2.jpg);
	background-size: cover;
	background-position: center;
}

section.sec1Alberta{
	width: 100%;
	height: 100vh;
	background: url(../pages/img/banff.jpg);
	background-size: cover;
	background-position: center;
}

section.secOttawa{
	width: 100%;
	height: 100vh;
	background: url(../pages/img/ot2.jpg);
	background-size: cover;
	background-position: center;
}

section.secOntario{
	width: 100%;
	height: 100vh;
	background: url(../pages/img/Ontario.jpg);
	background-size: cover;
	background-position: center;
}

.content  {
	width: 900px;
	margin:50px auto;
	text-align: justify;
	font-size: 20px;
	line-height: 30px;
	margin-top: 80px;
}

h1, h2{
	text-align: center;
	font-size: 50px;
}

footer{
	background: #f0f0f0;	
	padding: 30px 0px; 
	color: black;
	text-align: center;
}

nav ul li a:hover {
	background:#CED9F5;
}

nav ul li a.active:hover{
	background: #AFC4F5;
}

.titulo {
	font-family: 'Quicksand', sans-serif;
	padding-top: 200px;
	margin: 0;
	font-size: 70px;
	text-align:center;
	color: #FFF;
	padding-top: 400px;
}

#detalhe2{
	height: 580px;
	border-radius: 15px;
	
}

.flex-box{
	display: flex;
}

.box-col{
	flex-direction: column;
}

.center-spaced{
	justify-content: space-around;
}

.center-v{
	align-items: center;
}

.flex-item{
	flex: 1 0 auto;
}

.main-btn{
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	border: solid 1px white;
	height: 30px;
	
	background-color: rgba(255,255,255,1);
	color: rgba(0,0,0,1);

	transition: 0.5s box-shadow;
}

.main-btn:hover, .main-btn:focus{
	box-shadow: rgba(255,255,255,.5) 0px 0px 10px 5px;
	transition: 0.5s box-shadow;
}

.tamanhoImg{
	width: 900px;
	height: 600px;
}

.btn{	
	top: 150%;
	left: 50%;

	background-color:  #38a9f6;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 16px;
	outline: none;
	margin-left: 42%;
}