body{
	font-family: 'Quicksand', sans-serif;
	background-color: #f2f5f8;
}
.container4{
	position: absolute;
	top: 43%;
	left: 50%;
	width: 500px;
	height: 500px;
	margin-top: -250px;
	margin-left: -250px; 
}
.container4 .imagem{
	border-radius: 10px;
}
.container4 #top{
	font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: #2e8ccc;
    margin-bottom: 16;
}
.container4 #bottom1{
	font-size: 35px;
	font-weight: 100;
	line-height: 0.5;
}

.container4 #bottom2{
	color: #889096;
	font-size: 17px;
	line-height: 0;
}

.container4 
 #btn{
	position: absolute;
	top: 65%;
	left: 12%; 
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #38a9f6;
	color: white;
	font-size: 16px;
	padding: 12px 20px;
	border: none;
	width: 50px;
	height: 50px;
	size: 20px;
	border-radius: 100px;
	outline: none;
} 
.container4 #exit{
	left: 180%;
	top: -10%;
	outline: none;
	border: none;
	position: absolute;
	background: none;
	font-size: 140%;
	color:#333; 
	text-decoration:underline;
	color:#000000; 
	cursor: default;
}
.continue{
	position: absolute;
	top: 90%;
	left: 85%;

	background-color:  #38a9f6;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 16px;
	outline: none;

}
.continue a{
	color: white;
	font-size: 20px;
	padding: 15px;
	text-decoration:none;

} 


img{
	width: 575px;
	height:309px;
}
